<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>276530266937-2ldhefildt6v84r8sj9tt95sjd3uct87.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.276530266937-2ldhefildt6v84r8sj9tt95sjd3uct87</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>276530266937-1u4uindo2saun4bpbribo7rh9msurlol.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCnrQynn1sZN65seAsnE7l9WInE4UWD8eg</string>
	<key>GCM_SENDER_ID</key>
	<string>276530266937</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.teracit.Sayyar</string>
	<key>PROJECT_ID</key>
	<string>tera-taxi-playground01</string>
	<key>STORAGE_BUCKET</key>
	<string>tera-taxi-playground01.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:276530266937:ios:e09b414da9da1a0a68dee8</string>
	<key>DATABASE_URL</key>
	<string>https://tera-taxi-playground01.firebaseio.com</string>
</dict>
</plist>